version: 2.1

orbs:
  python: circleci/python@0.2.1

jobs:
  build-and-test:
    executor: python/default
    steps:
      - checkout
      - python/install-deps
      # Do NOT want `python/save-cache` here as it won't cache yamllint
      # - python/save-cache
      - run:
          command: |
            touch *.json && make
          name: Build
      - run:
          command: make check
          name: Validate

workflows:
  main:
    jobs:
      - build-and-test
